# Python & Virtual Environments
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Configs
.env
.env.local

# IDE & Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
